* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container{
width: 100%;
height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  color: black;
  /* font-size: 1.1rem; */
 opacity: 1;
}
/* .container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./bg.jpg");
    
} */

.container::before {
  content: "";
    width: 100%;
  height: 100%;
  background-image: url(./img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
   opacity: 0.7;

  /* -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px); */
}

.weather{
   z-index: 2;
/* background-color: white; */
  display: flex;
  align-items: center;
}
.weather1{
  font-size: 2.8rem;
}
.weather p{
  font-size: 1.5rem;
}
.weather span{
  font-size: 0.75rem;
}
.weather2 span, .weather3 span{
  font-size: 1rem;
}
.weather3 img {
  width:2rem;
  
}
.weather > div{
  margin: 0.625rem;
}
/* .weather3{
  padding: 3px;
} */
 /* nav{
  height: 100px;
 position: absolute;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4) ; 
   border-radius: 20%;
  bottom: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
} 

/* nav form{
  width: 25%;
 display: grid;
  grid-template-columns: 3fr 1fr;
  display: flex;
  align-items: center;
} */
 /* .search{
  font-size: 1.2rem;
  outline: none;
  color: black;
  background-color: transparent;
  display: flex;
  

}   */

.form{
  display: flex;
  width: 100%;
  max-width: 319px;
  /* background: rgba(); */
  border-radius: 60px;
  padding: 1px 1px ;
  outline: none;
  margin: 20px;


 background: rgba(255, 255, 255, 0.4); 
}
.form  input{
  background: transparent;
  flex: 1;
outline: none;
padding: 10px 17px;
font-size: 20px;
border: none;


}
form button{
  outline: none;
  border: none;
 margin-right: 15px;
 border-radius: 50%;
width: 60px;
/* height: 60px; */
background: transparent;


}
form button img{
  width: 25px;

}
::placeholder{
  color: rgb(2, 12, 58);
  opacity: 0.8;
}

.weather3 span{
  margin: 0.3rem;
  font-size: 0.88rem;
}
